*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.cache
.phpunit.result.cache
/build
/docker
/node_modules
/npm-debug.log
/phpactor.json
/phpstan.neon
/phpunit.xml
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
IDE-helper.php
_ide_helper_models.php
.phpstorm.meta.php
